* {
    margin: 0;
    text-align: center;
    background-color: #00B1B0;

  }
  
  #container {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 1fr 0.15fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 0.75fr;
    grid-template-areas:
      "topBar topBar topBar topBar topBar topBar"
      "left-bumper top-left top-left top-right top-right right-bumper"
      "left-bumper canvas canvas canvas canvas right-bumper"
      "bottom bottom bottom bottom bottom bottom";
  }
  #top-left,
  #top-right,
  #left-bumper,
  #right-bumper,
  #bottom,
  canvas, #topBar {
    border: 3px solid black;
  }
  main {
        grid-area: canvas;
        -webkit-text-fill-color: #FEC84D; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    canvas {
        /* grid-area: canvas; */
        width: 1000;
        height: 600;
        background: url('https://opengameart.org/sites/default/files/styles/medium/public/Brick_01.png')
    }
 #topBar {
      grid-area: topBar;
    }
 #top-left {
    grid-area: top-left;
  }
  #top-right {
    grid-area: top-right;
  }
  #left-bumper {
    grid-area: left-bumper;

  }
  #right-bumper {
    grid-area: right-bumper;
 
  }
  #bottom {
    grid-area: bottom;
  }
  #startPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  #Welcome {
        font-size: 4em;
        padding: .5em;
  }
  #gameRules {
        font-size: 2em;
        padding: .2em;
        inline-size: 40%;
        overflow-wrap: normal;
        justify-content: flex-end;
        align-items: center;
  }
  #start, #reset, #exit {
    display: flex;
        border-radius: 20px;
        padding: 20px 30px;
        font-size: large;
        text-align: center;
        justify-content: center;
        align-items: center;
  }
  #start:hover, #reset:hover, #exit:hover {
    background-color: #40B0DF;
  }